
<!DOCTYPE html>
<head>
	<title>Register::::Schedule</title>
</head>
<body>
	<table>
		<tr>
			<th><a href="/">Home</a></th>
			<th><a href="register">Register</a></th>
		</tr>
	</table>
	<br>
	<form action="login" method="POST">
		{% csrf_token %}
		
		<input type="text" name="username" placeholder="username"><br>
		<input type="password" name="password" placeholder="password"><br>
		<input type="submit" value="Login">
	</form>
	{% for message in messages %}
	<h3>{{message}}</h3>
	{% endfor %}
</body>